 <nav>
    <div class="logo">
      <a href="/"><h1>Members Only</h1></a>
    </div>
    <ul>
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </ul>
  </nav>